scikit-learn
pandas
librosa
tensorflow==2.11
numpy<2
tensorboard
matplotlib
unicode
unidecode
editdistance
tqdm
IPython
underthesea
ffmpeg
wave
my_model
wget
text-unidecode
matplotlib>=3.3.2
datasets==2.21.0
soundfile
sox
pydub
ffmpeg-python
omegaconf
sentencepiece
soundfile
tensorflow-io==0.27.0
jiwer